:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #FFCC00;
  --fill-color: #383535;

  --fill-color: #000;
  --text-color-light: #fff;
  --text-color-dark: #383535;

  /* TODO: value completely arbitrary, will need to be tweaked */
  /* it works so that in small screens it will scroll */
  --min-height: max(100vh, 500px);
}

body {
  margin: 0;
  min-width: 320px;
  /*min-height: 100vh; */
  min-height: var(--min-height);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}


.app {
  display: flex;
  flex-direction: column;
/*  min-height: 100vh; */

  min-height: var(--min-height);
  padding-bottom: 1rem;
}

.nav {
  height: 4rem;
  background-color: var(--primary-color);

  display: flex;
  align-items: center;
}

.nav ul {
  width: 100%;
}
.nav ul li {
  padding: 0 1rem;
}


/** Basic components **/
.btn {
  /* TODO: in rem */
  min-width: 115px;
  border-radius: 2rem;
  padding: 0.7rem 1.5rem;

  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
}

.btn-outline {
  border: 1px solid var(--fill-color);
  color: var(--text-color-dark);
}

.btn-outline:hover {
  background-color: rgba(255, 255, 255, 0.5);
}


.btn-primary:hover {
  filter: brightness(90%);
}


.btn-primary {
  background-color: var(--primary-color);
  border: none;
}

.btn-alternative {
  color: var(--text-color-light);
  background-color: var(--fill-color);
}

.btn-alternative:hover {
  /* TODO: figure out a better way to lighten this, maybe use sass? */
  background-color: var(--text-color-dark);
}

.input, .textarea {
  padding: 0.5rem .35rem;
  border: 1px solid #D9D9D9;
  border-radius: .75rem;
}
.super-rounded {
  border-radius: 2rem;
}

.label-group {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.label-group > * {
  margin-top: .25rem;
}

/* Some helpers. These seem weirdly familiar with tailwind */
.text-center {
  text-align: center;
}
.margin-auto {
  margin: 0 auto;
}
.block {
  display: block;
}

/** Typography **/
.font-1 {
  font-family: "Zen Loop", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-2 {
  font-family: "Yaldevi", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

strong {
  font-weight: 700;
}

/** Reusable */
.middle {
  flex: 1;

  /* centered its items vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle > * {
  width: min(800px, 100%);
  padding: 0 1rem;
}

